@define-color background-color #111111;
@define-color border-color #11110F;
@define-color label #EFE5D6;
@define-color image #777257;
@define-color progress #F0DCBE;

/* @import "~/.config/wallust/colors.css"; */

window {
  border-radius: 0;
  opacity: 0.97;
  border: 2px solid @border-color;

  background-color: @background-color;
}

label {
  font-family: "Monaspace Argon NF";
  font-size: 12pt;

  color: @label;
}

image {
  color: @image;
}

progressbar {
  border-radius: 0;
}

progress {
  background-color: @progress;
}
