@define-color background-color #19181A;
@define-color border-color #383C31;
@define-color label #E7E7D8;
@define-color image #A59D93;
@define-color progress #E0DFC2;

/* @import "~/.config/wallust/colors.css"; */

window {
  border-radius: 0;
  opacity: 0.97;
  border: 2px solid @border-color;

  background-color: @background-color;
}

label {
  font-family: "Monaspace Argon NF";
  font-size: 12pt;

  color: @label;
}

image {
  color: @image;
}

progressbar {
  border-radius: 0;
}

progress {
  background-color: @progress;
}
