/* CSS variables for wallust
 * You can use this template by adding the following to wallust.toml:
css = { src = "colors.css", dst = "~/.config/" }
 */

:root {
    --wallpaper: url("/home/tjtoo04/Wallpapers/gameboy.png");

    /* Special */
    --background: #19181A;
    --foreground: #F4F4EA;
    --cursor: #AAB39F;

    /* Colors */
    --color0:  #403F41;
    --color1:  #383C31;
    --color2:  #5F7255;
    --color3:  #7A6A61;
    --color4:  #A59D93;
    --color5:  #8CAD82;
    --color6:  #E0DFC2;
    --color7:  #E7E7D8;
    --color8:  #A2A197;
    --color9:  #383C31;
    --color10: #5F7255;
    --color11: #7A6A61;
    --color12: #A59D93;
    --color13: #8CAD82;
    --color14: #E0DFC2;
    --color15: #E7E7D8;
}
