/* CSS variables for wallust
 * You can use this template by adding the following to wallust.toml:
css = { src = "colors.css", dst = "~/.config/" }
 */

:root {
    --wallpaper: url("/home/tjtoo04/Wallpapers/citadel.png");

    /* Special */
    --background: #111111;
    --foreground: #FAF3E8;
    --cursor: #A19B8F;

    /* Colors */
    --color0:  #393939;
    --color1:  #11110F;
    --color2:  #494336;
    --color3:  #8B6A5C;
    --color4:  #777257;
    --color5:  #AEA07B;
    --color6:  #F0DCBE;
    --color7:  #EFE5D6;
    --color8:  #A7A096;
    --color9:  #11110F;
    --color10: #494336;
    --color11: #8B6A5C;
    --color12: #777257;
    --color13: #AEA07B;
    --color14: #F0DCBE;
    --color15: #EFE5D6;
}
