@define-color background-color {{background}};
@define-color border-color {{color1}};
@define-color label {{color7}};
@define-color image {{color4}};
@define-color progress {{color6}};

/* @import "~/.config/wallust/colors.css"; */

window {
  border-radius: 0;
  opacity: 0.97;
  border: 2px solid @border-color;

  background-color: @background-color;
}

label {
  font-family: "Monaspace Argon NF";
  font-size: 12pt;

  color: @label;
}

image {
  color: @image;
}

progressbar {
  border-radius: 0;
}

progress {
  background-color: @progress;
}
