--cursor: #b5bbd9;
--background: #2b2428;
--foreground: #fef1f8;
--color0: #514a4e;
--color1: #83556b;
--color2: #6c85b9;
--color3: #b192bc;
--color4: #ff8da9;
--color5: #b1cee9;
--color6: #fdd7ec;
--color7: #f6e3ed;
--color8: #ac9fa6;
--color9: #83556b;
--color10: #6c85b9;
--color11: #b192bc;
--color12: #ff8da9;
--color13: #b1cee9;
--color14: #fdd7ec;
--color15: #f6e3ed;
